<footer class="text-muted py-5 mt-5 ustify-content-between d-flex flex-wrap align-items-center py-3 border-top">
  
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="text-muted font "><h6>Site developed by Martin Covarrubias &nbsp; <a class="color-a" href="https://github.com/MartinCovarrubias"><i class="bi bi-github size-icons"></i></a></h6> </span>
  </div>

  <ul class="list-inline col-md-6 justify-content-end  d-flex ">
    <li class="ms-3"><a  href="#"><i class="bi bi-facebook size-icons color-icon-facebook"></i></a></li>
    <li class="ms-3"><a class="" href="#"><i class="bi bi-instagram size-icons color-icon-insta"></i></a></li>
    <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter size-icons color-icon-twitter"></i></a></li>
  </ul>
</footer>


