
 <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid list">
      <a class="navbar-brand" style="margin-left: 10px;" href="#">
        
        Bakery
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown" *ngIf="hiddenElmentsAdmin()">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administración 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Pedidos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/tbl-users">Clientes</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/tbl-admin">Administradores</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/tbl-cakes">Pasteles</a></li>
              </ul>
            </li> 
            <li class="nav-item" *ngIf="hiddenElmentsUser()">
              <a (click)="editarUsuario()" class="nav-link active cursor">Perfil</a>
            </li>
            <li class="nav-item" *ngIf="hiddenElmentsUser()">
              <a class="nav-link active" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" >Mis pedidos</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-md-auto">

          <div class="me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <i class="bi bi-cart-fill position-relative btn icon-size" >
            <span  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{contador}}</span>
            </i>
          </div>
            
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  routerLink="..">Inicio</a>
            </li>
              <li class="nav-item" *ngIf="hiddenElments()">
                <a class="nav-link active" aria-current="page"  routerLink="/register">Registrarse</a>
              </li>
      
              <li class="nav-item " *ngIf="hiddenElments()">
                <a class="nav-link active" aria-current="page"  routerLink="/login">Acceder</a>
              </li>
              <li class="nav-item" *ngIf="!hiddenElments()" >
                <a class="nav-link active" (click)="logout()" aria-current="page"  routerLink="/home">Salir</a>
              </li>
          </ul>
        
      </div>
    </div>
  </nav>


  <div class="offcanvas offcanvas-end borde" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Tu Carrito</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="list-group">
        <a class="list-group-item list-group-item-action alert alert-dismissible fade show">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph.</p>
          <small class="text-muted">And some muted small print.</small>
          <button type="button" class="btn text-reset float-end" data-bs-dismiss="alert" aria-label="Close">
            <i class="bi bi-trash-fill"></i>
          </button>
        </a>
        <a class="list-group-item list-group-item-action alert alert-dismissible fade show">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph.</p>
          <small class="text-muted">And some muted small print.</small>
          <button type="button" class="btn text-reset float-end" data-bs-dismiss="alert" aria-label="Close">
            <i class="bi bi-trash-fill"></i>
          </button>
        </a>
        <a class="list-group-item list-group-item-action alert alert-dismissible fade show">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph.</p>
          <small class="text-muted">And some muted small print.</small>
          <button type="button" class="btn text-reset float-end" data-bs-dismiss="alert" aria-label="Close">
            <i class="bi bi-trash-fill"></i>
          </button>
        </a>
      </div>
    </div>
  </div>


  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Mis pedidos</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="list-group" *ngFor="let p of pedido">
        <a class="list-group-item list-group-item-action alert alert-dismissible fade show">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{p.nombre}}</h5>
            <small class="text-muted">{{p.fecha_pedido}}</small>
          </div>
         
          <p class="mb-1">{{p.descripcion}}</p>
         <div class="d-flex w-100 justify-content-between">
          <small class="text-muted">${{p.precio}}</small>
          <small class="text-muted">Cantidad: ${{p.cantidad}}</small>
          <small class="text-muted">Total: ${{p.total}}</small>
         </div>
         <small class="text-muted">Estado del pedido: {{p.estado}}</small>
        </a>
      </div>
    </div>
  </div>