nav{
    background-color: #F7DAD9;
   
  
}

.list {
    
    padding: .7rem;
   
 
}
.list1 {
    text-align: start;
    justify-content: start;
}

.color-font-a{
    color: #eb699e;
}

.cursor{
    cursor: pointer;
}


.icon-size{
    font-size: 1rem;
}