
 <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid list">
      <a class="navbar-brand" style="margin-left: 10px;" href="#">
        
        Bakery
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown" *ngIf="hiddenElmentsAdmin()">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Administración 
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Pedidos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/tbl-users">Clientes</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Administradores</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Pasteles</a></li>
              </ul>
            </li> 
            <li class="nav-item" *ngIf="hiddenElmentsUser()">
              <a class="nav-link active">Perfil</a>
            </li>
            <li class="nav-item" *ngIf="hiddenElmentsUser()">
              <a class="nav-link active">Mis pedidos</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-md-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  routerLink="..">Inicio</a>
            </li>
              <li class="nav-item" *ngIf="hiddenElments()">
                <a class="nav-link active" aria-current="page"  routerLink="/register">Registrarse</a>
              </li>
      
              <li class="nav-item " *ngIf="hiddenElments()">
                <a class="nav-link active" aria-current="page"  routerLink="/login">Acceder</a>
              </li>
              <li class="nav-item" *ngIf="!hiddenElments()" >
                <a class="nav-link active" (click)="logout()" aria-current="page"  routerLink="/login">Salir</a>
              </li>
          </ul>
        
      </div>
    </div>
  </nav>
