 <app-header></app-header>
  <div class=" margen">

    <div class="container-sm" >

        <!-- Outer Row -->
        <div class="row justify-content-center" >

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4 font-login">Iniciar sesión</h1>
                                    </div>
                                   
                                    <form method="post" class="needs-validation" (ngSubmit)="enviarLogin()"[formGroup]="formlogin" novalidate>
                                       
                                        <div class="group mt-5">
                                            <input required="" type="email" class="input form-control"  formControlName="email">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <div class="invalid-feedback">
                                                Ingresa un correo valido.
                                              </div>
                                            <label >Correo</label>
                                          </div>


                                        <div class="group mt-5">
                                            <input required="" type="password"  autocomplete="off"  formControlName="password" class="input form-control">
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <div class="invalid-feedback">
                                                Se acepta min 6 caracteres, max 8 caracteres.
                                              </div>
                                            <label >Contraseña</label>
                                          </div>
                                      <div class="d-flex justify-content-center">
                                        <button  class="cta btn-block mt-5">
                                            <span>Entrar</span>
                                            <svg viewBox="0 0 13 10" height="10px" width="15px">
                                              <path d="M1,5 L11,5"></path>
                                              <polyline points="8 1 12 5 8 9"></polyline>
                                            </svg>
                                          </button>
                                      </div>
                                      
                                       
                                       
                                    </form>
                                   
                                    <hr>
                                    <div class="text-center">
                                        <a class="small color-a" routerLink="/register">No tienes una cuenta?</a>
                                    </div>
                                    <div class="text-center mt-2">
                                        <a class="small color-a" routerLink="..">Inicio</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<app-footer></app-footer>
