


<app-header></app-header>

<div class="margen">

    <div class="container-sm mt-4">
         <div > 
        <div class="card  o-hidden border-0 shadow-lg">
            <div class="card-body sm p-0 ">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-0 font-login">Registro de usuarios</h1>
                            </div>
                            <form class="user p-4 needs-validation" [formGroup]="formregistro" (submit)="enviarData()" method="post" novalidate>
                              
                                <div class="group row ">
                                    <div class="col-sm-6 mb-3 mb-sm-0 mt-4">
                                        <input required="" type="text"  autocomplete="off" formControlName="nombre" class="input form-control">
                                       
                                        <span class="bar"></span>
                                        <div class="invalid-feedback">
                                            Solo se aceptan letras.
                                          </div>
                                        <label class="font-login mt-4"style="margin-left: 10px;">Nombre</label>
                                    </div>
                                    <div class="group col-sm-6 mt-4">
                                        <input required="" type="text"  autocomplete="off" formControlName="apellidoP" class="input form-control">
                                        
                                        <span class="bar"></span>
                                        <div class="invalid-feedback">
                                            Solo se aceptan letras.
                                          </div>
                                        <label class="font-login" style="margin-left: 10px;">Apellido paterno</label>
                                    </div>
                                </div>
                                <div class="group row mt-4">
                                    <div class="col-sm-6 mb-3 mb-sm-0 mt-4">
                                        <input required="" type="email"  autocomplete="off" formControlName="correo" class="input form-control">
                                    
                                        <span class="bar"></span>
                                        <div class="invalid-feedback">
                                            Ingresa un correo valido.
                                          </div>
                                        <label class="font-login mt-4"style="margin-left: 10px;">Correo</label>
                                    </div>
                                    <div class="group col-sm-6 mt-4">
                                        <input required="" type="number"  autocomplete="off" formControlName="telefono" class="input form-control">
                                      
                                        <span class="bar"></span>
                                        <div class="font-label" >
                                            Solo se acepta 10 digitos.
                                          </div>
                                        <label class="font-login"style="margin-left: 10px;">Teléfono</label>
                                    </div>
                                </div>
                                <div class="group mt-5">
                                    <input required="" type="text"  autocomplete="off" formControlName="direccion" class="input form-control">
                                   
                                    <span class="bar"></span>
                                    <label class="">Dirección</label>
                                    <div class="invalid-feedback">
                                        Ingresa una dirección valida.
                                      </div>
                                </div>
                                <div class="group mt-5">
                                    <input required="" type="password" autocomplete="off" formControlName="password" class="input form-control">
                                   
                                    <span class="bar"></span>
                                    <label class="font-login">Contraseña</label>
                                    <div  class="font-label">
                                     Se acepta min 6 caracteres, max 8 caracteres.
                                      </div>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button [disabled]="formregistro.invalid" class="btn  btn-color btn-user btn-block mt-4" type="submit">Registrar</button>
                                  </div>
                               
                            </form>
                          
                            <div class="text-center">
                                <a class="small color-a" routerLink="/login">Ya tienes una cuenta? Inicia sesión!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

<app-footer></app-footer>

