
<app-header></app-header>
<body>
  

    <section class="banner_main ">
        <div class="container-fluid">
           <div class="row d_flex">
              <div class="col-md-6">
                 <div class="text-bg">
                    <div class="padding_lert">
                       <h1>Bienvenido</h1>
                       <span>Los mejores postres y pasteles de la región</span>
                       <p>En bakery pastelería tenemos diferentes sabores, ¡Conoce ahora todos nuestros pasteles y postres!</p>
                        <a href="#cakes" class="buttonn" >Ver más</a>
                    </div>
                   
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="text-img d-flex flex-wrap">
                    <figure><img src="../../../assets/images/toy_img.png" alt="#"/></figure>
                 </div>
              </div>
           </div>
        </div>
     </section>
    <section class="Features " >
        <div class="p-4" id="cakes">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <h2>Pasteles y postres</h2>
                        <span style="font-size:28px;font-weight:bold;">Conozca nuestros sabores</span>
                     </div>
                  </div>
               </div>
               <div class="row mb-5" >
                  <div class="col-md-4 ">
                     <div class="Our_box">
                        <i><img class="imge" src="../../../assets/images/icon1.jpeg" width="200px" height="200px" alt="#"/></i>
                        <h4>Vanilla Ice Cream Cake with Strawberries<br>$300 mxn</h4>
                     </div>
                  </div>
                  
                  <div class="col-md-4">
                     <div class="Our_box">
                        <i><img src="../../../assets/images/icon1.jpeg" width="200px" height="200px" alt="#"/></i>
                        <h4>Cheesecake Filled Cake<br>$400 mxn</h4>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="Our_box">
                        <i><img src="../../../assets/images/icon1.jpeg" width="200px" height="200px" alt="#"/></i>
                        <h4> FROZEN COCONUT CLOUD DESSERT <br>200 mxn</h4>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="Our_box">
                        <i><img src="./../../assets/images/icon1.jpeg" width="200x" height="200px" alt="#"/></i>
                        <h4>Chocolate Cake With Strawberries <br>350 mxn</h4>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="Our_box">
                        <i><img src="../../../assets/images/icon1.jpeg" width="200px" height="200px" alt="#"/></i>
                        <h4>Peanut Butter Chocolate Layer Cake <br>200 mxn</h4>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="Our_box">
                        <i><img src="../../../assets/images/icon1.jpeg"   width="200px" height="200px" alt="#"/></i>
                        <h4 class="font">Cheesecake Japones <br>250 mxn</h4>
                     </div>
                  </div>
                 
                  <div class=" p-5 mb-5 d-flex justify-content-center">
                     <a class="buttonn" routerLink="register">Ordene ahora</a>
                  </div>
                 
                
               </div>
               
            </div>
         
         </div>
      
    </section>
    
   
  
     
</body>

   <span class="bi bi-arrow-up-short ir-arriba"></span>

<app-footer></app-footer>