
<app-header></app-header>
<body>
    <section class="banner_main mt-5">
        <div class="container-fluid">
           <div class="row d_flex">
              <div class="col-md-6">
                 <div class="text-bg">
                    <div class="padding_lert">
                       <h1>CAKES AND DESSERTS</h1>
                       <span>The best desserts and cakes of the region</span>
                       <p>In bakery we have different flavors, get to know all our cakes and desserts now!</p>
                        <a href="#cakes" class="buttonn" >View More</a>
                    </div>
                   
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="text-img d-flex flex-wrap">
                    <figure><img src="../../../assets/images/toy_img.png" alt="#"/></figure>
                 </div>
              </div>
           </div>
        </div>
     </section>



    <section  >
        <div class="Features p-4" id="cakes">
            <div class="container p-5">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <h2>Cakes and Desserts</h2>
                        <span>Get to know our flavors</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4">
                     <div class="Our_box">
                        <i><img src="../../../assets/images/icon1.jpeg" width="200px" height="200px" alt="#"/></i>
                        <h4>Vanilla Ice Cream Cake with Strawberries<br>$300 mxn</h4>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="Our_box">
                        <i><img src="../../../assets/images/icon1.jpeg" width="200px" height="200px" alt="#"/></i>
                        <h4>Cheesecake Filled Cake<br>$400 mxn</h4>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="Our_box">
                        <i><img src="../../../assets/images/icon1.jpeg" width="200px" height="200px" alt="#"/></i>
                        <h4> FROZEN COCONUT CLOUD DESSERT <br>200 mxn</h4>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="Our_box">
                        <i><img src="./../../assets/images/icon1.jpeg" width="200x" height="200px" alt="#"/></i>
                        <h4>Chocolate Cake With Strawberries <br>350 mxn</h4>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="Our_box">
                        <i><img src="../../../assets/images/icon1.jpeg" width="200px" height="200px" alt="#"/></i>
                        <h4>Peanut Butter Chocolate Layer Cake <br>200 mxn</h4>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="Our_box">
                        <i><img src="../../../assets/images/icon1.jpeg"   width="200px" height="200px" alt="#"/></i>
                        <h4 class="font">Cheesecake Japones <br>250 mxn</h4>
                     </div>
                  </div>

                     <!---card    bonita-->
                  
                       <!---card    bonita-->
                  <div class=" p-5 d-flex justify-content-center">
                     <a class="buttonn" href="order.html">Place an order</a>
                  </div>

                 
               </div>
            </div>
         </div>


         

    </section>
     
</body>

<app-footer></app-footer>