.card-header{
    text-align: center;
}


.m{
    margin-right: 1rem;
     margin-top: 3px;
     margin-bottom: 3px;
     justify-content: center;
}

.center{
    text-align: center;
}

.card{
    border-radius: 10px;
background: #ffe3e3;
}

.margen{
    padding-bottom: 10rem;
    margin-bottom: 5rem;
  }
  
  .btn-agregar{
    margin-top: .1rem;
    margin-bottom: .7rem;
  }

  .btn-div{
      display: flex;
      justify-content: end;
      flex-wrap: wrap;
  }

  .btn-color{
    background-color: #5D534A;
     color: #ffffff;
  }