/* You can add global styles to this file, and also import other style files */
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }
  
  a,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,input,textarea,button,select,blockquote,pre,code,table,th,td,hr,img,figure,figcaption,fieldset,legend,address,caption,footer,header,main,menu,nav,section,article,aside,audio,video {
    font-family: 'Poppins', sans-serif;
   
    

}



