/* You can add global styles to this file, and also import other style files */
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
    background-color: #fffeea;
  }
  
  .font{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    

}

.color-a{
  color: #a4a4a4;
  font-family: 'Poppins', sans-serif;
}